.slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: auto;
    padding-top: 100px;
}

.slider-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.slider-text {
    font-size: 14px;
    font-weight: 700;
    font-family: sans-serif;
    color: #5E5E5E;
    margin: 0;
}

.slider-text_left {
    padding-left: 20px;
}

.slider-text_right {
    padding-right: 20px;
}

.slider-button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.slider-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.slider-animate {
    opacity: 0;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.slider-img {
    width: 900px;
    height: 600px;
    transition: .5s all ease-in;
    -webkit-transition: .5s all ease-in;
    -moz-transition: .5s all ease-in;
    -ms-transition: .5s all ease-in;
    -o-transition: .5s all ease-in;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.slider-dots {
    position: absolute;
    bottom: -50px;
    display: flex;
    gap: 10px;
}

.slider-dot {
    width: 20px;
    height: 20px;
    background-color: #5E5E5E;
    opacity: .5;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    
}

.slider-dot.slider-dot_active {
    opacity: 1;
}